<div class="container">
    <h1 class="mt-3">Add BlogPost</h1>
    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
        <div class="mt-2 mb-5">

            <div class="mt-3">
                <label for="title" class="form-label">Title</label>
                <input [(ngModel)]="model.title" type="text" class="form-control" id="title" name="title">
            </div>

            <div class="mt-3">
                <label for="urlHandle" class="form-label">Url Handle</label>
                <input [(ngModel)]="model.urlHandle" type="text" class="form-control" id="urlHandle" name="urlHandle">
            </div>

            <div class="mt-3">
                <label for="shortDescription" class="form-label">Short Description</label>
                <input [(ngModel)]="model.shortDescription" type="text" class="form-control" id="shortDescription"
                    name="shortDescription">

            </div>

            <div class="mt-3">
                <label for="content" class="form-label">Content</label>

                <div class="d-flex flex-row">
                    <div class="col-6 p-2">
                        <textarea   id="content"
                            name="content" class="form-control" style="height:350px;max-height:350px ;"
                            [(ngModel)]="model.content"></textarea>
                    </div>
                    <div  class="col-6 p-2" style="max-height: 350px;overflow-y: scroll;">
                        <markdown [data]="model.content" ></markdown>
                        
                    </div>
                </div>


            </div>

            <div class="mt-3">
                <label for="featuredImageUrl" class="form-label">Featured Image Url</label>
                <ng-container *ngIf="model.featuredImageUrl!=''">
                    <div>
                        <img [src]="model.featuredImageUrl" class="my-2" height="100">
                    </div>
                </ng-container>
                <input [(ngModel)]="model.featuredImageUrl" type="text" class="form-control" id="featuredImageUrl"
                    name="featuredImageUrl">

            </div>

            <div class="mt-3">
                <label for="publishedDate" class="form-label">Published Date</label>
                <input type="date" class="form-control" id="publishedDate" name="publishedDate"
                    value="{{model.publishedDate}}" [ngModel]="model.publishedDate | date:'yyy-MM-dd'"
                    (ngModelChange)="model.publishedDate=$event">

            </div>

            <div class="mt-3">
                <label for="author" class="form-label">Author</label>
                <input [(ngModel)]="model.author" type="text" class="form-control" id="author" name="author">

            </div>

            <div class="form-check mt-3">
                <input [(ngModel)]="model.isVisible" class="form-check-input" type="checkbox" id="isVisible"
                    name="isVisible">
                <label class="form-check-label" for="isVisible">
                    Is Visible ?
                </label>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>

        </div>
    </form>
</div>